/* ----- base styles ----*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
font-family: "Roboto", sans-serif;
color:#434455;
background-color: #FFFFFF;
  }
  ul,ol{
list-style-type: none;
  }
  a{
    text-decoration: none;
  }
  .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container{
  width: 1128px;
  padding: 0 16px;
  margin: 0 auto;
  outline: 2px solid red;
  outline-offset: -2px;
}
.main-subtitle {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.section-title {
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.02em;
text-align: center;
}
  /* ------ header -------*/
  .logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
  }
.header-logo .logo-part{
    color: #2e2f42;
}
.nav-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
color: #404bbf;
}
.contacts {
    font-style: normal;
}
.contacts-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* ----- hero section -----*/
.hero-section {
    background-color:#2E2F42;
    width: 1440px;
    height: 600px;
}
.hero-title {
font-size: 56px;
color: #fff;
width: 496px;
}

.hero-button{
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
white-space: nowrap;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
font-weight: 500;
font-size: 16px;
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;

}
.hero-button:focus,
.hero-button:hover{
background: #404bbf;
}

/* ----- benefits section -----*/

.features-context {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
width: 264px;
}


/*------ team section ------*/

.team-section {
background-color: #f4f4fd;
}
.team-title {
font-size: 36px;
color: #2e2f42;
}
.team-subtitle {
text-align: center;
}
.team-context {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.team-item {
background: #fff;
}

/* ---- portfolio section ----*/
.portfolio-title {

font-size: 36px;
color: #2e2f42;
}

.portfolio-context {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* ------ footer section -----*/
.page-footer {
background-color: #2e2f42;
}
.footer-logo .logo-part {
color: #f4f4fd;}
.footer-context {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
width: 264px;
}
